<template name="personnelsPage">
     <div class="container">
        <section class="ui section" style="text-align: center; ">
        
        <img src="/TextlogoQP2-Photoroom.png"  alt="MyDirectory" class="small">
        <div class="ui divider"></div>
        <h2>Liste des Personnels de Santé</h2>
        {{#each results}}
            <p>{{nom}} - {{prenom}}</p>
            <p>{{ville}} - {{specialite}} - {{telephone}}</p>
            <button class="ui button btn-small btn-success"><i class="icon fa-phone-volume"></i></button>
        {{/each}}
        </section>
    </div>
</template>
